<tr align="right">	<td class="table_content" align="left" valign="top" width="30%">{$ItemValueNameURL}</td>	<td class="table_content" align="left" valign="top">{$ItemValueData}</td>	<td class="table_content" align="left" valign="top" width="10%">{$ItemValueTypeString}</td></tr>