<table class="table_border" width="760" border="0" cellspacing="0" cellpadding="3">	<tr align="left" valign="bottom">		<td class="table_head" align="left" valign="top" width="730">Item: {$ItemNameURL}</td>	</tr>	<tr align="right">		<td align="left" valign="top" width="730">
			<table class="table_border" width="755" border="0" cellspacing="0" cellpadding="3">				<tr align="right">					<td class="table_head" align="left" valign="top" width="30%">Name</td>					<td class="table_head" align="left" valign="top">Value</td>					<td class="table_head" align="left" valign="top" width="15%">Type</td>				</tr>				{$SimpleValueRows}
			</table>		</td>	</tr></table>